{%  extends 'menolakforget/main.html' %}
{% load static %}
{% block content %}

    <div style="padding-bottom: 20px">
        <hr style=" border: 1px solid #94553D; border-radius: 5px;">
        <h4 style="text-align: center; font-family: 'Russo One';">About Us</h4>
        <hr style=" border: 1px solid #94553D; border-radius: 5px;">
    </div>
    <div class="row" style="background-color: #C4AC95; padding: 30px; margin-bottom: 50px;">
        <div class="col">
            <h2 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 0px;">Laurentius Nathaniel</h1>
            <h5 style="font-family: 'Russo Mono'; text-align: center;">TT-43-08</h5>
            <h5 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 25px;">1101194377</h5>
            <img src="{% static 'images/natann.jpg' %}" style="height: 380px; width: 380px; margin-bottom: 15px; border-radius: 50%;" >
        </div>
        <div class="col">
            <div class="about-me">
                <h4>About Nathan</h4>

                <p>I am a dreamer who always dreams at night. Now get addicted to the latest technology and never stop study about it.</p>
                <p>I have an interest in coding, cloud, development, operations, music, trading, and many more!

                <hr style=" border: 1px solid #94553D; border-radius: 5px;">

                <h4>Expertise</h4>

                <p>Collage student with primary focus on Cloud Native, Web & Mobile Development, and Cybersecurity. 
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                
                <h4>Nathan's Resume</h4>
                <a target="_blank" href="{% static 'CV-Nathaniel.pdf' %}" style="text-decoration: none; font-family: 'Russo Mono'; color: #000;">Download Nathan's CV</a></p>
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                <div class="social-links">
                    <h3 style="margin-top: 0px;">Nathan's Contact</h3>
                    <div class="row" style="margin-left: 150px; margin-top: 10px;">
                        <a target="_blank" href="https://t.me/launathiel"> 
                            <i class="fab fa-telegram" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/laurentius-nathaniel-845b27169/"> 
                            <i class="fab fa-linkedin" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="https://www.instagram.com/launathiel/"> 
                            <i class="fab fa-instagram" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="https://www.twitter.com/launathiel/"> 
                            <i class="fab fa-twitter" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #C4AC95; padding: 30px; margin-bottom: 50px;">
        <div class="col">
            <div class="about-me">
                <h4>About Ilyas</h4>

                <p>A human who interested and has a high  curiousity</p>

                <hr style=" border: 1px solid #94553D; border-radius: 5px;">

                <h4>Expertise</h4>

                <p>Python , Microsoft word , Microsoft Power Point , C Programming</p>
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                
                <h4>Ilyas' Resume</h4>
                <a target="_blank" href="{% static 'CV-Ilyas.pdf' %}" style="text-decoration: none; font-family: 'Russo Mono'; color: #000;">Download Ilyas' CV</a></p>
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                <div class="social-links">
                    <h3 style="margin-top: 0px;">Ilyas' Contact</h3>
                    <div class="row" style="margin-left: 185px; margin-top: 10px;">
                        <a target="_blank" href="https://www.linkedin.com/in/ilyasa-affan-60100a1ba"> 
                            <i class="fab fa-linkedin" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="https://instagram.com/ilyasaaffan/"> 
                            <i class="fab fa-instagram" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="https://twitter.com/IlyasaAffan?s=08"> 
                            <i class="fab fa-twitter" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 0px;">Ilyasa Affan Arinto</h1>
            <h5 style="font-family: 'Russo Mono'; text-align: center;">TT-43-09</h5>
            <h5 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 25px;">1101193393</h5>
            <img src="{% static 'images/ilyas.jpg' %}" style="height: 380px; width: 380px; margin-bottom: 15px; border-radius: 50%;" >
        </div>
    </div>

    <div class="row" style="background-color: #C4AC95; padding: 30px; margin-bottom: 50px;">
        <div class="col">
            <h2 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 0px;">Muhammad Kinan Ibrahim</h1>
            <h5 style="font-family: 'Russo Mono'; text-align: center;">TT-43-09</h5>
            <h5 style="font-family: 'Russo Mono'; text-align: center; padding-bottom: 25px;">1101194162</h5>
            <img src="{% static 'images/kinan.png' %}" style="height: 380px; width: 380px; margin-bottom: 15px; border-radius: 50%;" >
        </div>
        <div class="col">
            <div class="about-me">
                <h4>About Kinan</h4>

                <p>I am a person who will learn to pursue something and I will fight for my ambition until only time can stop.</p>

                <hr style=" border: 1px solid #94553D; border-radius: 5px;">

                <h4>Expertise</h4>

                <p> interested in and pursuing event organizing, music arrangement, and lifestyle content. 
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                
                <h4>Kinan's Resume</h4>
                <a target="_blank" href="{% static 'CV-Kinan.pdf' %}" style="text-decoration: none; font-family: 'Russo Mono'; color: #000;">Download Kinan's CV</a></p>
                
                <hr style=" border: 1px solid #94553D; border-radius: 5px;">
                <div class="social-links">
                    <h3 style="margin-top: 0px;">Kinan's Contact</h3>
                    <div class="row" style="margin-left: 210px; margin-top: 10px;">
                        <a target="_blank" href="https://www.linkedin.com/in/muhammad-kinan-ibrahim-a340061ba/"> 
                            <i class="fab fa-linkedin" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                        <a target="_blank" href="instagram.com/knmhmd"> 
                            <i class="fab fa-instagram" style="font-size:32px; color:#000; margin-right: 25px;"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}