{%  extends 'menolakforget/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col">
		<div style="margin-top: 60px; margin-bottom: 60px;">
			<h2 style="font-family: 'Russo One';">My-Assignment</h2>
		</div>
		<div class="col">
			<div style="background-color: #FFCBA4;">
				<form action="" method="POST">
					{% csrf_token %}
					{{form}}
					<br>					
					<input type="submit" name="Submit" style="margin-top: 40px;">
				</form>
			</div>
		</div>
		<div style="margin-top: 45px; margin-bottom: 60px;">
			<hr style=" border: 1px solid #94553D; border-radius: 5px;">
			<h5 style="font-family: 'Russo Mono';">"With great abilities come great responsibilities; great power comes with great assignments"</h3>
		</div>
	</div>
</div>


{% endblock %}